<!doctype html>
<html>
    <head>
        <title>eplugs control</title>
        <meta name="theme-color" content="red">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <style>body{font-family: sans;}</style>
    </head>
    <body>
        <table>
            <tr>
                <td colspan=2 align=center>All</td>
            </tr>
            <tr>
                <td><a href='/0/on'><img src=/static/on.png alt=on height=125 width=170 /></a></td>
                <td><a href='/0/off'><img src=/static/off.png alt=off height=125 width=170 /></a></td>
            </tr>
            <tr>
                <td colspan=2 align=center>Socket 1</td>
            </tr>
            <tr>
                <td><a href='/1/on'><img src=/static/on.png alt=on height=125 width=170 /></a></td>
                <td><a href='/1/off'><img src=/static/off.png alt=off height=125 width=170 /></a></td>
            </tr>
            <tr>
                <td colspan=2 align=center>Socket 2</td>
            </tr>
            <tr>
                <td><a href='/2/on'><img src=/static/on.png alt=on height=125 width=170 /></a></td>
                <td><a href='/2/off'><img src=/static/off.png alt=off height=125 width=170 /></a></td>
            </tr>
<!-- uncomment this block to unhide the buttons for sockets 3 and 4
            <tr>
                <td colspan=2 align=center>Socket 3</td>
            </tr>
            <tr>
                <td><a href='/3/on'><img src=/static/on.png alt=on height=125 width=170 /></a></td>
                <td><a href='/3/off'><img src=/static/off.png alt=off height=125 width=170 /></a></td>
            </tr>
            <tr>
                <td colspan=2 align=center>Socket 4</td>
            </tr>
            <tr>
                <td><a href='/4/on'><img src=/static/on.png alt=on height=125 width=170 /></a></td>
                <td><a href='/4/off'><img src=/static/off.png alt=off height=125 width=170 /></a></td>
            </tr>
-->
        </table>
    </body>
</html>
